.Quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0px 160px;
    background-color: #f8f4f4;
    background-image: linear-gradient(180deg, #ffffff52, #f5d9a8b0);
    background-position: center;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: #000;
}



/* shere style */
nav {
    justify-content: space-between;
}

.nav_row {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.nav_row button {
    width: 50px;
}

.about_color {
    color: skyblue;
}

.h_color {
    color: orange;
}

.title {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin: 80px 0;
}

.box_title {
    font-size: 24.52px;
    font-weight: bold;
    color: #202020;
    margin: 32px 0px;
}

.box_p {
    font-size: 15.09px;
    font-weight: 500;
}

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.read {
    font-size: 15.9px;
    font-weight: bold;
    border: none;
    background-color: unset;
    color: #64C8FF;
}

.story_child {
    width: 290px;
    /* height: 301px; */
    background-color: #fff;
    border-radius: 16px;
    position: relative;
}

.btn {
    font-size: 15px;
    font-weight: 500;
    border-radius: 16px;
    border: none;

}

.story_child img {
    border-radius: 16px;
}

.story_child_title {
    padding: 24px 38px;
    font-size: 15px;
    font-weight: bold;
}





/* menubar */
.nav_row {
    display: flex;
    justify-content: space-between;
}

.img {
    display: flex;
}

.nav_row h2 {
    margin-left: 0;
    padding-left: 0;
}

.menubar {
    display: flex;
    gap: 32px;
    align-items: center;
}

.menu a {
    text-decoration: none;
}

.menu {
    justify-content: center;
    align-items: center;
}

.home {
    font-size: 20px;
    font-weight: bold;
}

.about {
    font-size: 20px;
    font-weight: 500;
}

.fac {
    color: #05D4DF;
    font-size: 20px;
    font-weight: 500;
}

.ad {
    color: #5D58EF;
    font-size: 20px;
    font-weight: 500;
}

.nav_row button {
    margin: 0;
    /* padding: 10px 60.5px; */
    margin: 10px 0;
    padding: 0 30px;
    background-color: orange;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    text-align: center;
}


/* responsive media query */
@media screen and (max-width: 576px) {

    .nav_row,
    .menubar {
        border: 2px solid orange;
        padding: 12px 16px;
    }

    body {
        margin: 0;
        width: 100%;
    }



    .hidden {
        visibility: hidden;
        width: 0;
    }


    .media_img {
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}



/* banner */
main {
    margin: 0;
    padding: 0;
    background-image: url(../assets/bg.png);
}

.banner {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center;
    justify-content: space-between;
    gap: 450px;

}

.container_banner {
    padding: 122px 50px 122px 0;
}

.container_banner h3 {
    font-size: 56px;
    font-weight: bold;
}

.container_banner p {
    font-size: 20px;
}

.container_banner button {
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 10px 47px;
}


@media screen and (max-width: 576px) {
    .banner {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        
        margin-left: 30px;
    }

    .container_banner {
        text-align: center;
    }

    .container_img {
        width: 80%;
        align-items: center;
    }
}





/* main */
/* curriculam */
.curriculam {
    align-items: center;
    text-align: center;
    width: 100%;
}

.curriculam_box {
    display: flex;
    gap: 30px;
}

.curriculam_box_1 {
    text-align: center;
    border-radius: 18px;
    background-image: linear-gradient(180deg, rgb(255, 145, 0), yellow);
}

.curriculam_box_2 {
    text-align: center;
    border-radius: 18px;
    background-image: linear-gradient(180deg, rgb(236, 184, 87), rgb(243, 243, 239));
}

.read_1 {
    font-size: 15.9px;
    font-weight: bold;
    border: none;
    background-color: unset;
    color: #F0AA00;
}

.curriculam_box_3 {
    text-align: center;
    border-radius: 18px;
    background-image: linear-gradient(180deg, rgb(118, 81, 252), rgb(189, 189, 157));
}

.read_2 {
    font-size: 15.9px;
    font-weight: bold;
    border: none;
    background-color: unset;
    color: #8700FF;
}

@media screen and (max-width : 576px) {
    .curriculam_box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        flex-direction: column-reverse;
    }
    .main{
        padding: 25px;
    }
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 60px 0;

}

.a {
    background-color: orange;
    padding: 15px;
    border-radius: 30px;
}

.b {
    background-color: orange;
    padding: 15px;
    border-radius: 30px;
}

@media screen and (max-width : 576px) {
    .arrow {
        visibility: hidden;
        padding: 0;
        margin: 0;
    }
}



/* stories */
.stories {
    height: 100%;
}

.stories h2 {
    margin: 60px 0;
}

.story {
    /* display: grid; */
    /* grid-template-columns: repeat(2,1fr); */
    display: flex;
    gap: 18px;
}

.squair_story {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
}

.single_story {
    border-radius: 16px;
    /* width: 400px; */
    background-color: #fff;
}

.single_story_1 img {
    border-radius: 16px;
    width: 890px;
}

.single_story_1 {
    position: relative;
    max-width: 400px;
    width: 98vh;
}

.btn {
    font-size: 15px;
    border-radius: 47px;
}

.single_story_1 .btn {
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #3CD8E8;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
}

@media screen and (max-width:576px) {
    .single_story_1 img {
        width: 100%;
    }

    .single_story {
        height: 0;
        visibility: hidden;
    }

    .story {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 570px;
    }
}

.single_story_2 {
    margin: 34px 38px;
    width: 80%;
}

.story_title {
    font-size: 24px;
    font-weight: bold;
}

.story_p {
    font-size: 15px;
    font-weight: 500;
    color: #666666;
}






.squair_story {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    gap: 19px;
}

.btn {
    font-size: 15px;
    border-radius: 47px;
}

.story_child .btn {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #95B226;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.story_3_btn {
    font-size: 15px;
    border-radius: 47px;
}

.story_child .story_3_btn {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #5D58F0;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
}

@media screen and (max-width:576px) {}

.our_btn {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    margin: 80px 0;
}

.story_btn {
    background-color: #000;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 10px 61px;
    border: none;
    border-radius: 12px;
}





footer {
    width: 100%;

}

.footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 174px 140px;
    background-color: #01ACFD;
    justify-content: center;
}

.footer_logo {
    display: flex;
}

.footer_img img {
    margin-top: 20px;
    margin-right: 10px;
    width: 60px;
    height: 80px;
}
.footer_title h3{
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0;
}

.footer_p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.footer_About {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.footer_about_title h4{
    margin: 0;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.bar{
    margin: 20px 0;
}
.bar a{
    color: #fff;
}
.footer_contant h3{
    margin: 0;
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    margin: 31px 0 36px 0;
}
.icon_flex{
    display: flex;   
    gap: 10px;
}







@media screen and (max-width:576px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(1,1fr);  
        margin: 0;
        padding: 30px;     
    }
    .footer_logo{
        padding-bottom: 22px;
    }
    .footer_img img {
        margin-top: 10px;
        margin-right: 10px;
        width: 80%;
        height: 70%;
    }
    .footer_title h3{
        padding-top: 10px;
        padding-left: 10px;
        font-size: 35px;
        font-weight: bold;
    }
    .footer_p {
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
    }
    .footer_about_title h4{
        margin-top: 32px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }
    .footer_contant h3{
        margin: 0;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        padding-bottom: 20px;
        
    }
}


