.Quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    margin: 0px 160px;
    background-color: #f8f4f4;
    background-image: linear-gradient(180deg,#ffffff52, #f5d9a8b0 );
}



/* shere style */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.nav_row {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.nav_row button {
    width: 50px;
}

.about_color {
    color: skyblue;
}

.h_color {
    color: orange;
}

.title {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin: 80px 0;
}

.box_title {
    font-size: 24.52px;
    font-weight: bold;
    color: #202020;
    margin: 32px 0px;
}

.box_p {
    font-size: 15.09px;
    font-weight: 500;
}

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.read {
    font-size: 15.9px;
    font-weight: bold;
    border: none;
    background-color: unset;
    color: #64C8FF;
}
.story_child{
    width: 290px;
    height: 301px;
    background-color: #fff;
}
























/* menubar */
header{
    justify-items: center;
}
.school {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}
.school h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}
.home {
    font-size: 20px;
    font-weight: bold;
}
.nav_menu{
    display: flex;
    grid-gap: 32px;
    align-items: center;
    padding:  0 186px;
}
.about {
    font-size: 20px;
    font-weight: 500;
}

.fac {
    color: #05D4DF;
    font-size: 20px;
    font-weight: 500;
}

.ad {
    color: #5D58EF;
    font-size: 20px;
    font-weight: 500;
    padding-right: 186px;
}
.nav_row button{
    padding: 10px 30px;
    background-color: orange;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
}